<!DOCTYPE html>
<html lang="ja" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>金沢能楽美術館</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/noon7.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>
    </head>
    <body>
        <div class="header">
            <a href="/" class="title">おしまっし金沢</a>
            <a href="{{ url_for('stamp_rally_noon') }}">戻る</a>
        </div>
        <section class="museum-info">
            <h1>金沢能楽美術館</h1>
            <div class="info"> 
                金沢能楽美術館は広坂にあり、加賀宝生の貴重な能面や装束を展示しています。この美術館は金沢の無形文化財「加賀宝生」やユネスコ無形文化遺産の「能楽」に関連しており、伝統と未来をつなぐ文化施設で、次世代へ伝える目的を持つ観光スポットとなっています。
            </div>
        </section>
        <p>-------------</p>
        <button onclick="startCamera()">カメラ起動・QRコード読み取り開始</button>
        <button id="stop-camera-btn">カメラ停止</button>
        <video id="video" style="display:none;"></video>
        <canvas id="canvas" style="display:none;"></canvas>
        <script>
            let videoStream;
        
            function fetchStampsAndUpdateUI() {
                console.log('Fetching stamps and updating UI');
                // 他の部分のコードが必要な場合はここに追加してください。
            }
        
            function startCamera() {
                const videoElement = document.getElementById('video');
                navigator.mediaDevices.getUserMedia({ video: { facingMode: 'environment' } })
                    .then((stream) => {
                        videoStream = stream;
                        videoElement.srcObject = stream;
                        videoElement.play();
                        scanQRCode();
                    })
                    .catch((error) => {
                        console.error('カメラのアクセスに失敗しました:', error);
                        alert('カメラにアクセスできません。カメラの許可を確認してください。');
                    });
            }
        
            function scanQRCode() {
                const videoElement = document.getElementById('video');
                const canvasElement = document.getElementById('canvas');
                const canvasContext = canvasElement.getContext('2d');
                canvasElement.style.display = 'block';
        
                const scan = () => {
                    if (videoElement.readyState === videoElement.HAVE_ENOUGH_DATA) {
                        canvasElement.height = videoElement.videoHeight;
                        canvasElement.width = videoElement.videoWidth;
                        canvasContext.drawImage(videoElement, 0, 0, canvasElement.width, canvasElement.height);
                        const imageData = canvasContext.getImageData(0, 0, canvasElement.width, canvasElement.height);
                        const code = jsQR(imageData.data, imageData.width, imageData.height);
        
                        if (code) {
                            console.log('QRコード検出:', code.data);
                            if (code.data === 'NourakuBizyutukan') {
                                alert('成功しました')
                                updateStampStatus('stamp8', 'noon'); // 時間帯を'noon'に指定
                            } else {
                                alert('スキャンされたQRコードが一致しません。');
                            }
                        }
                    }
                    requestAnimationFrame(scan);
                };
        
                scan();
            }
        
            function updateStampStatus(name, time) { // time パラメータを追加
                console.log(`Sending update for ${name} at ${time}`);
                fetch('/update_stamp', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `name=${encodeURIComponent(name)}&time=${encodeURIComponent(time)}`, // リクエストボディにtimeを追加
                    credentials: 'include'
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // サーバーからの応答に基づいてUIを更新
                    if (data.message === 'Stamp updated.') {
                        updateStampUI(name, time, data.collected); // collectedの状態を引数として渡す
                    } else {
                        console.error('Stamp update failed:', data.message);
                    }
                })
                .catch(error => {
                    console.error('Error during stamp update:', error);
                });
            }
        
            function updateStampUI(name, time, collected) { // time パラメータを追加
                const stampElement = document.getElementById(`stamp-${name}-${time}`); // IDにtimeを追加
                if (stampElement) {
                    if (collected) {
                        stampElement.classList.remove('uncollected');
                        stampElement.classList.add('collected');
                    } else {
                        stampElement.classList.remove('collected');
                        stampElement.classList.add('uncollected');
                    }
                }
            }
        
            function stopCamera() {
                const videoElement = document.getElementById('video');
                videoElement.pause();
                videoElement.srcObject = null;
                if (videoStream) {
                    videoStream.getTracks().forEach(track => track.stop());
                }
                const canvasElement = document.getElementById('canvas');
                canvasElement.style.display = 'none';
            }
        
            document.addEventListener('DOMContentLoaded', fetchStampsAndUpdateUI);
            document.getElementById('stop-camera-btn').addEventListener('click', stopCamera);
        </script>
         
        
        
        
        
        <p>-------------</p>
        <div class="content-container">
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/noon8.jpg') }}" alt="Sample Image" width="600" height="450" style="border:0;" allowfullscreen="">
            </div>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3204.6895577002338!2d136.65550577510402!3d36.5615975811146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff833811d0d2e81%3A0x3b21865f6aa2603e!2z6YeR5rKi6IO95qW9576O6KGT6aSo!5e0!3m2!1sja!2sjp!4v1703220183532!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <div>
            <div class="form-container">
                <p>コメント投稿</p>
                <form action="/comment" method="post">
                    <div>
                        <label for="name">名前</label>
                        <input type="text" name="name" id="name" required>
                    </div>
                    <div>
                        <label for="comment">コメント</label>
                        <textarea name="comment" id="comment" required></textarea>
                    </div>
                    <div>
                        <button type="submit">投稿</button>
                    </div>
                </form>
            </div>
            <h2>コメント一覧</h2>
            <ul>
                {% for comment in comments %}
                    <li>
                        <p class="comment-author">名前：{{ comment.author.name }}</p>
                        <p class="comment-content">コメント：{{ comment.comment }}</p>
                        <p class="comment-date">投稿日：{{ comment.comment_date.strftime('%Y-%m-%d %H:%M') }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </body> 