body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.section-5,
.section-5 * {
    box-sizing: border-box;
}
.section-5 {
    background: #ffffff;
    width: 1920px;
    height: 3679px;
    position: relative;
}
.sutanpu {
    background: #d9d9d9;
    border-radius: 50%;
    width: 480px;
    height: 480px;
    position: absolute;
    left: 278px;
    top: 257px;
}
.qr-yomitori-box {
    background: #C7F1FF;
    width: 716px;
    height: 161px;
    position: absolute;
    left: 935px;
    top: 416px;
}
.qr {
    color: #000000;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    left: 1024px;
    top: 458px;
}
.map-box {
    background: #d9d9d9;
    width: 1440px;
    height: 810px;
    position: absolute;
    left: 240px;
    top: 1563px;
}
.div {
    color: #000000;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    left: 892px;
    top: 1929px;
}
.setumeimidasi-box {
    background: #C7F1FF;
    width: 716px;
    height: 161px;
    position: absolute;
    left: 244px;
    top: 932px;
}
.div2 {
    color: #000000;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    left: 438px;
    top: 971px;
}
.setumei-box {
    background: #d9d9d9;
    width: 1440px;
    height: 327px;
    position: absolute;
    left: 240px;
    top: 1093px;
}
.div3 {
    color: #000000;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    left: 807px;
    top: 1215px;
}
.komenntomidasi-box {
    background: #C7F1FF;
    width: 716px;
    height: 161px;
    position: absolute;
    left: 240px;
    top: 2519px;
}
.div4 {
    color: #000000;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    left: 470px;
    top: 2561px;
}
.komento-box {
    background: #d9d9d9;
    width: 1440px;
    height: 810px;
    position: absolute;
    left: 240px;
    top: 2680px;
}
.name {
    background: #C7F1FF;
    width: 1920px;
    height: 117px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.home {
    background: #ffffff;
    width: 214px;
    height: 79px;
    position: absolute;
    left: 1680px;
    top: 19px;
}
.back_bottan {
    color: #000000;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 48px;
    font-weight: 400;
    position: absolute;
    left: 1739px;
    top: 30px;
}
.rectangle-9 {
    background: #C7F1FF;
    width: 551px;
    height: 117px;
    position: absolute;
    left: 684px;
    top: 0px;
}
.div6 {
    color: #000000;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    left: 825px;
    top: 20px;
}