.header {
    background-color: #4B0082; /* 画像に合わせた色 */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* 余白を調整 */
    font-size: 24px; /* 文字の大きさを調整 */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); /* シャドウを追加 */
}
.header .title {
    margin-right: auto; /* タイトルを左に押し出す */
}
.header a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 10px;
}
.header a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
}
.stamp-card {
    border: 3px solid #3498db; /* 外枠の色 */
    padding: 20px;
    margin: 20px auto;
    max-width: 350px;
}
.row {
    text-align: center;
    margin: 10px 0;
}
.stamp {
    width: 100px;
    height: 100px;
    border: 1px dashed #000;
    display: inline-block;
    margin: 5px;
    border-radius: 50%; /* 丸型にするためのスタイル */
    line-height: 100px; /* テキストを垂直方向の中央に配置 */
    vertical-align: middle; /* テキストを水平方向の中央に配置 */
    text-decoration: none; /* リンクのアンダーラインを除去 */
}

.stamp.collected {
    /* 収集済みスタンプのスタイル */
    background-color: #3498db !important; /* 青色の背景 */
}
.row:nth-child(2) .stamp:nth-child(1) { background-color: rgba(255, 99, 132, 0.3); }
.row:nth-child(2) .stamp:nth-child(2) { background-color: rgba(54, 162, 235, 0.3); }
.row:nth-child(2) .stamp:nth-child(3) { background-color: rgba(255, 206, 86, 0.3); }
.row:nth-child(3) .stamp:nth-child(1) { background-color: rgba(75, 192, 192, 0.3); }
.row:nth-child(3) .stamp:nth-child(2) { background-color: rgba(153, 102, 255, 0.3); }
.row:nth-child(3) .stamp:nth-child(3) { background-color: rgba(255, 159, 64, 0.3); }
.row:nth-child(4) .stamp:nth-child(1) { background-color: rgba(255, 129, 102, 0.3); }
.row:nth-child(4) .stamp:nth-child(2) { background-color: rgba(99, 132, 255, 0.3); }
.row:nth-child(4) .stamp:nth-child(3) { background-color: rgba(132, 255, 144, 0.3); }

