<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>石川県立歴史博物館
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/morning2.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>
</head>

<body>
    <!-- Header Section -->
    <div class="header">
        <a href="{{ url_for('stamp_rally_morning')}}">戻る</a>
        <h1 class="name">石川県立歴史博物館
        </h1>
    </div>

    <!-- QR Code Section -->
    <div class="QR">
        <button class="QRscan" onclick="startCamera()">カメラ起動・QRコード読み取り開始</button>
        <button class="QRend" id="stop-camera-btn">カメラ停止</button>
        <video id="video" style="display:none;"></video>
        <canvas id="canvas" style="display:none;"></canvas>
    </div>

    <!-- Google Maps Section -->
    <div style="text-align: center;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3204.8151608086537!2d136.6628441!3d36.5585695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff83387b7d15443%3A0x5d9b309201d47c6!2z55-z5bed55yM56uL5q205Y-y5Y2a54mp6aSo!5e0!3m2!1sja!2sjp!4v1703225382466!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!-- Additional Information Section -->
    <div class="additional-info">
        <p>兼六園周辺に位置し石川の古代から近代までの歴史と文化を紹介する博物館。旧陸軍兵器庫を復元した建物は平成2年に重要文化財に指定。歴史と文化の展示が豊富で、実物資料や映像解説も充実しています。
        </p>
    </div>

    <!-- Comment Section -->
    <div>
        <p class="comments">コメント投稿</p>
        <div>
            <form action="/comment" method="post">
                <div>
                    <label for="name">名前</label>
                    <input type="text" name="name" id="name">
                </div>
                <div>
                    <label for="comment">コメント</label>
                    <textarea name="comment" id="comment"></textarea>
                </div>
                <div>
                    <button type="submit">投稿</button>
                </div>
            </form>
        </div>

        <p class="commentslist">コメント一覧</p>
        {% for comment in comments %}
        <li>
            <p>名前：{{ comment.author.name }}</p>
            <p>コメント：{{ comment.comment }}</p>
            <p>投稿日：{{ comment.comment_date.strftime('%Y-%m-%d %H:%M') }}</p>
        </li>
        {% endfor %}
    </div>
</body>

</html>