<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>妙立寺（忍者寺）
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/morning2.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>
</head>

<body>
    <!-- Header Section -->
    <div class="header">
        <a href="{{ url_for('stamp_rally_morning')}}">戻る</a>
        <h1 class="name">妙立寺（忍者寺）
        </h1>
    </div>

    <!-- QR Code Section -->
    <div class="QR">
        <button class="QRscan" onclick="startCamera()">カメラ起動・QRコード読み取り開始</button>
        <button class="QRend" id="stop-camera-btn">カメラ停止</button>
        <video id="video" style="display:none;"></video>
        <canvas id="canvas" style="display:none;"></canvas>
    </div>

    <!-- Google Maps Section -->
    <div style="text-align: center;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3205.21400922057!2d136.6799111!3d36.5489525!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff8347b5ceb82b9%3A0x1e04e87b774b8d19!2z5aaZ56uL5a-6ICjlv43ogIXlr7op!5e0!3m2!1sja!2sjp!4v1703225545930!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!-- Additional Information Section -->
    <div class="additional-info">
        <p>「忍者寺」として知られる寺院は、賽銭箱が落とし穴になり、床板をめくると現れる隠し階段や金沢城への抜け道がある井戸など、多くの仕掛けが見られます。創建当時は徳川幕府との緊張状態から、出城・砦として機能し、外観は2階建てでも実際には7層になり、23部屋と29階段があると伝えられています。
        </p>
    </div>

    <!-- Comment Section -->
    <div>
        <p class="comments">コメント投稿</p>
        <div>
            <form action="/comment" method="post">
                <div>
                    <label for="name">名前</label>
                    <input type="text" name="name" id="name">
                </div>
                <div>
                    <label for="comment">コメント</label>
                    <textarea name="comment" id="comment"></textarea>
                </div>
                <div>
                    <button type="submit">投稿</button>
                </div>
            </form>
        </div>

        <p class="commentslist">コメント一覧</p>
        {% for comment in comments %}
        <li>
            <p>名前：{{ comment.author.name }}</p>
            <p>コメント：{{ comment.comment }}</p>
            <p>投稿日：{{ comment.comment_date.strftime('%Y-%m-%d %H:%M') }}</p>
        </li>
        {% endfor %}
    </div>
</body>

</html>