<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>箔座本店</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/morning2.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>
</head>

<body>
    <!-- Header Section -->
    <div class="header">
        <a href="{{ url_for('stamp_rally_morning')}}">戻る</a>
        <h1 class="name">箔座本店</h1>
    </div>

    <!-- QR Code Section -->
    <div class="QR">
        <button class="QRscan" onclick="startCamera()">カメラ起動・QRコード読み取り開始</button>
        <button class="QRend" id="stop-camera-btn">カメラ停止</button>
        <video id="video" style="display:none;"></video>
        <canvas id="canvas" style="display:none;"></canvas>
    </div>

    <!-- Google Maps Section -->
    <div style="text-align: center;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3204.0279200015198!2d136.66508769999996!3d36.577545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff83312694be151%3A0x679a107829a963ce!2z566U5bqn5pys5bqX!5e0!3m2!1sja!2sjp!4v1703225265716!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!-- Additional Information Section -->
    <div class="additional-info">
    <p>国宝修復の金箔で知られる箔座本店。黄金の茶室は縁付金箔4万枚を使用し、伝統技術や手仕事が堪能できます。工芸品やアクセサリーも充実。箔座ならではの美しい金箔に出会えます。
    </p>
    </div>

    <!-- Comment Section -->
    <div>
        <p class="comments">コメント投稿</p>
        <div>
            <form action="/comment" method="post">
                <div>
                    <label for="name">名前</label>
                    <input type="text" name="name" id="name">
                </div>
                <div>
                    <label for="comment">コメント</label>
                    <textarea name="comment" id="comment"></textarea>
                </div>
                <div>
                    <button type="submit">投稿</button>
                </div>
            </form>
        </div>

        <p class="commentslist">コメント一覧</p>
        {% for comment in comments %}
        <li>
            <p>名前：{{ comment.author.name }}</p>
            <p>コメント：{{ comment.comment }}</p>
            <p>投稿日：{{ comment.comment_date.strftime('%Y-%m-%d %H:%M') }}</p>
        </li>
        {% endfor %}
    </div>
</body>

</html>