<!DOCTYPE html>
<html lang="ja" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>湯桶温泉</title>
        <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/night3_9.css') }}">
    </head>
    <body>
        <header>
            <div class="header">
                <div class="link_flex">
                    <p><a href="../">ホーム</a></p>
                    <p><a href="../stamp_rally_night">スタンプ</a></p>
                </div>
                <h2>押しまっし金沢</h2>
            </div>
        </header>
        <div class="center">
            <h1>湯桶温泉</h1>
            <button onclick="startCamera()">カメラ起動・QRコード読み取り開始</button>
            <button id="stop-camera-btn">カメラ停止</button>
            <video id="video" style="display:none;"></video>
            <canvas id="canvas" style="display:none;"></canvas>
        </div>
        <script>
            let videoStream;
        
            function fetchStampsAndUpdateUI() {
                console.log('Fetching stamps and updating UI');
                // 他の部分のコードが必要な場合はここに追加してください。
            }
        
            function startCamera() {
                const videoElement = document.getElementById('video');
                navigator.mediaDevices.getUserMedia({ video: { facingMode: 'environment' } })
                    .then((stream) => {
                        videoStream = stream;
                        videoElement.srcObject = stream;
                        videoElement.play();
                        scanQRCode();
                    })
                    .catch((error) => {
                        console.error('カメラのアクセスに失敗しました:', error);
                        alert('カメラにアクセスできません。カメラの許可を確認してください。');
                    });
            }
        
            function scanQRCode() {
                const videoElement = document.getElementById('video');
                const canvasElement = document.getElementById('canvas');
                const canvasContext = canvasElement.getContext('2d');
                canvasElement.style.display = 'block';
        
                const scan = () => {
                    if (videoElement.readyState === videoElement.HAVE_ENOUGH_DATA) {
                        canvasElement.height = videoElement.videoHeight;
                        canvasElement.width = videoElement.videoWidth;
                        canvasContext.drawImage(videoElement, 0, 0, canvasElement.width, canvasElement.height);
                        const imageData = canvasContext.getImageData(0, 0, canvasElement.width, canvasElement.height);
                        const code = jsQR(imageData.data, imageData.width, imageData.height);
        
                        if (code) {
                            console.log('QRコード検出:', code.data);
                            if (code.data === 'yurakuonsen') {
                                alert('成功しました')
                                updateStampStatus('stamp3', 'night'); // 時間帯を'noon'に指定
                            } else {
                                alert('スキャンされたQRコードが一致しません。');
                            }
                        }
                    }
                    requestAnimationFrame(scan);
                };
        
                scan();
            }
        
            function updateStampStatus(name, time) { // time パラメータを追加
                console.log(`Sending update for ${name} at ${time}`);
                fetch('/update_stamp', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `name=${encodeURIComponent(name)}&time=${encodeURIComponent(time)}`, // リクエストボディにtimeを追加
                    credentials: 'include'
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // サーバーからの応答に基づいてUIを更新
                    if (data.message === 'Stamp updated.') {
                        updateStampUI(name, time, data.collected); // collectedの状態を引数として渡す
                    } else {
                        console.error('Stamp update failed:', data.message);
                    }
                })
                .catch(error => {
                    console.error('Error during stamp update:', error);
                });
            }
        
            function updateStampUI(name, time, collected) { // time パラメータを追加
                const stampElement = document.getElementById(`stamp-${name}-${time}`); // IDにtimeを追加
                if (stampElement) {
                    if (collected) {
                        stampElement.classList.remove('uncollected');
                        stampElement.classList.add('collected');
                    } else {
                        stampElement.classList.remove('collected');
                        stampElement.classList.add('uncollected');
                    }
                }
            }
        
            function stopCamera() {
                const videoElement = document.getElementById('video');
                videoElement.pause();
                videoElement.srcObject = null;
                if (videoStream) {
                    videoStream.getTracks().forEach(track => track.stop());
                }
                const canvasElement = document.getElementById('canvas');
                canvasElement.style.display = 'none';
            }
        
            document.addEventListener('DOMContentLoaded', fetchStampsAndUpdateUI);
            document.getElementById('stop-camera-btn').addEventListener('click', stopCamera);
        </script>
        <h3 class="scription">1300年以上の歴史を誇る温泉街で、加賀藩の歴代藩主や竹久夢二が訪れたことで知られています。9軒の温泉旅館があり、加賀料理を中心に海の幸や山の幸を楽しめます。泉質はナトリウム・カルシウム-塩化物・硫酸塩泉で、自慢の風呂を備えた宿も多いです</h3>
        <p class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12830.698540270396!2d136.7476072305131!3d36.48957385800657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff839c2ee100001%3A0xa693d0e45184c88a!2z6YeR5r6k5rmv5raM5rip5rOJIOeZvualveiNmCDliKXpgrjnpZ7mpb1LQUdVUkE!5e0!3m2!1sja!2sjp!4v1702743130759!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
        <div class="comment-wrapper">
            <form action="/comment" method="post" class="comment-form">
                <div>
                    <label for="comment">コメント</label>
                    <textarea name="comment" id="comment" class="form-control"></textarea>
                </div>
                <div>
                    <button type="submit">投稿</button>
                </div>
            </form>
            <ul class="comment-list">
                {% for comment in comments %}
                    <li class="comment">
                        <div class="comment-header">
                            <p>{{ comment.author.name }}</p>
                            <p>{{ comment.comment_date.strftime('%Y年%m月%d日 %H:%M') }}</p>
                        </div>
                        <div class="comment-body">
                            <p>{{ comment.comment }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </body> 